[user]
	name = Marshall Garey
	email = marshall@schedmd.com
[github]
 	user = MarshallGarey
[branch]
	autosetuprebase = always
	rebase = true
[rebase]
	stat = true
[pull]
	rebase = merges
[core]
	excludesfile = /home/marshall/.gitignore_global
	# pager - whenever a git command is used, it pipes it to what pager is
	# set to. less -FRX:
	# -F or --quit-if-one-screen - quit if output is less than one screen.
	# -R or --RAW-CONTROL-CHARS - ANSI color escape sequences are raw
	# -X or --no-init - leaves the output on the screen after I quit less.
	pager = less -FRX
	editor = /usr/bin/vim
[pager]
[diff]
	tool = vimdiff
	guitool = gvimdiff
[difftool "vimdiff"]
	cmd = "vimdiff -f -d -c 'cd $GIT_PREFIX' $REMOTE $LOCAL"
[difftool "gvimdiff"]
	cmd = "gvimdiff -f -d -c 'cd $GIT_PREFIX' $REMOTE $LOCAL"
[difftool]
	prompt = false
[log]
	abbrevCommit = true
